@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=VT323&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Print Char 21';

}

/*

https://framerusercontent.com/assets/8nVKNv5WLcC69L1OkK6WndsRsrw.otf

<link rel="preload" href="https://framerusercontent.com/assets/uIrQy45otGD5u123ptPZYBKgaMg.ttf" as="font" crossorigin="">

*/