.container_windowframe {
    height: 400px;
    width: 500px;

    background-color: #000;
    border: 1.8px solid #fff;

    position: absolute;
    top: 20%;
    left: 35%;
}

.top_frame {
    height: 28px;
    width: 100%;
    margin: 0;
    padding: 0 0.2em;
    background-color: #000;
    border-bottom: 1.8px solid#fff;

    display: flex;
    color: #fff;
    cursor: grab;
}

.top_frame:active {
    cursor: grabbing;
}

.top_frame:hover {
    cursor: grabbing;
}

.top_frame .close_program {
    position: absolute;
    top: 5px;
    left: 0;

    border-radius: 0.5px;
    border: 0.5px solid #fff;
    padding: 0 1px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;

}

.top_frame .close_program:hover {
    background-color: #232323;
    color: #fff;
    transition: all 400ms ease-in;
}

.top_frame .black_lines {
    background-color: black;
    width: 100%;
    margin: 0.20em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.black_lines .line_1,
.black_lines .line_2,
.black_lines .line_4,
.black_lines .line_5 {
    background-color: #fff;
    height: 1.5px;
}

.black_lines .line_3 {
    height: 3px;
    background-color: #fff;
}


.top_frame p {
    color: #fff;
    font-size: 14px;
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -2px
}

.data_container {
    color: #fff;
    letter-spacing: -1.5px;
    font-weight: 400;
    height: 100%;
}

.data_container .noteDisplay_box {
    height: 325px;
    margin: 0.8em 0 0.5em 1em;
    overflow-y: scroll;
    line-height: 1.4;
}

/* SCROLL CSS */
.noteDisplay_box::-webkit-scrollbar {
    width: 10px;

}

.noteDisplay_box::-webkit-scrollbar-track {
    background-color: #000;
}

.noteDisplay_box::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
}

.options {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.options span {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.options span:hover {
    color: rgba(255, 0, 0, 0.615);
    transition: all 200ms ease-in;
}