.container_time {
    color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
}

.current_time {
    font-size: 4.2em;
    font-family: 'DotGothic16';
}

.current_day {
    text-align: center;
    color: rgb(173, 173, 173);
}