.container_notes {
    color: #fff;
    position: absolute;
    top: 1em;
    right: 0;
    cursor: default;
}

.container_notes p {
    font-size: 12px;
    padding: 0.8em 0.8em;
    text-align: center;
    background-color: #100c1b;
    letter-spacing: -2px;
    cursor: grab;
}

.container_notes p:active {
    cursor: grabbing;
}

.container_notes .notes_textarea {
    outline: none;
    padding: 0.5em 0.5em;
    border-radius: 0.1em;
    font-size: 1.2em;
    background-color: #221a38;
    border: none;
    color: #fff;
}

.container_notes .notes_textarea::-webkit-scrollbar {
    width: 4px;
}

.container_notes .notes_textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 grey;
    background-color: #292a2d;
}

.container_notes .notes_textarea::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.542);
    border-radius: 5px;
}

.container_notes .notes_textarea::selection {
    background-color: #013246;
}

.container_notes .notes_buttons {
    background-color: #100c1b;
    padding: 0.5em 0.5em;
    border-radius: 0.1em;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_notes .notes_buttons span {
    cursor: pointer;
}

.container_notes .notes_buttons span:hover {
    color: rgb(173, 173, 173);
    transition: all 200ms ease-in;
}